node_modules/@xenova/transformers/.cache/Xenova/bge-large-en-v1.5/onnx/model_quantized.onnx filter=lfs diff=lfs merge=lfs -text
lib-cov filter=lfs diff=lfs merge=lfs -text
node_modules/@xenova/transformers/.cache/Xenova/bge-large-en-v1.5/onnx/model.onnx filter=lfs diff=lfs merge=lfs -text
